.sy-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #ffffff;
	color: #6a7076;
	font-size: 14px;
	border: 1px solid rgba(224, 228, 232, 0.7);
	transition:
		background 0.3s,
		width 0.3s;
	box-sizing: border-box;

    //水平菜单
	&-horizontal {
		display: flex;
		align-items: center;
		border-radius: 12px;
		padding: 0 16px;
		box-shadow: 0 4px 16px -6px rgba(140, 144, 150, 0.05);
	}
}
