@import "../../style/index.less";

.sy-button{
    background: none;
    cursor: pointer;
    border: 1px solid var(--sy-color-border);
    outline: none;
    color: inherit;
    padding: 4px 10px;
    border-radius: 4px;

    &--default{
        border-color: var(--sy-color-border);
        color: var(--sy-color-text);

        &:hover{ 
            border-color: var(--sy-color-primary-hover);
            color: var(--sy-color-primary-hover);
        }

        &:active{
            border-color: var(--sy-color-primary-active);
            color: var(--sy-color-primary-active);
        }
    }

    &--dashed{
        border-style: dashed;
        border-color: var(--sy-color-border);
        color: var(--sy-color-text);

        &:hover{ 
            border-color: var(--sy-color-primary-hover);
            color: var(--sy-color-primary-hover);
        }

        &:active{
            border-color: var(--sy-color-primary-active);
            color: var(--sy-color-primary-active);
        }
    }

    &--primary{
        border-color: var(--sy-color-primary);
        color: white;
        background-color: var(--sy-color-primary);

        &:hover{ 
            border-color: var(--sy-color-primary-hover);
            background-color: var(--sy-color-primary-hover);
        }

        &:active{
            border-color: var(--sy-color-primary-active);
            background-color: var(--sy-color-primary-active );
        }
    }
}