@import '../../style/index.less';

.sy-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 28px;
	padding: 0 10px;
	box-sizing: border-box;
    line-height: 1;

    &--hit-true {
        border: 1px solid;
    }
}
