:root{
--sy-color-primary-1:#e6f4ff;
--sy-color-primary-2:#bae0ff;
--sy-color-primary-3:#91caff;
--sy-color-primary-4:#69b1ff;
--sy-color-primary-5:#4096ff;
--sy-color-primary-6:#1677ff;
--sy-color-primary-7:#0958d9;
--sy-color-primary-8:#003eb3;
--sy-color-primary-9:#002c8c;
--sy-color-primary-10:#001d66;

--sy-color-success-1:#f6ffed;
--sy-color-success-2:#d9f7be;
--sy-color-success-3:#b7eb8f;
--sy-color-success-4:#95de64;
--sy-color-success-5:#73d13d;
--sy-color-success-6:#52c41a;
--sy-color-success-7:#389e0d;
--sy-color-success-8:#237804;
--sy-color-success-9:#135200;
--sy-color-success-10:#092b00;

--sy-color-error-1:#fff1f0;
--sy-color-error-2:#ffccc7;
--sy-color-error-3:#ffa39e;
--sy-color-error-4:#ff7875;
--sy-color-error-5:#ff4d4f;
--sy-color-error-6:#f5222d;
--sy-color-error-7:#cf1322;
--sy-color-error-8:#a8071a;
--sy-color-error-9:#820014;
--sy-color-error-10:#5c0011;

--sy-color-warning-1:#fffbe6;
--sy-color-warning-2:#fff1b8;
--sy-color-warning-3:#ffe58f;
--sy-color-warning-4:#ffd666;
--sy-color-warning-5:#ffc53d;
--sy-color-warning-6:#faad14;
--sy-color-warning-7:#d48806;
--sy-color-warning-8:#ad6800;
--sy-color-warning-9:#874d00;
--sy-color-warning-10:#613400;

--gray-1:#a6a6a6;
--gray-2:#999999;
--gray-3:#8c8c8c;
--gray-4:#808080;
--gray-5:#737373;
--gray-6:#666666;
--gray-7:#404040;
--gray-8:#1a1a1a;
--gray-9:#000000;
--gray-10:#000000;

}