:root {
    --sy-color-primary:var(--sy-color-primary-6);
    --sy-color-primary-hover:var(--sy-color-primary-5);
    --sy-color-primary-active:var(--sy-color-primary-7);
    --sy-color-primary-select:var(--sy-color-primary-1);

    --sy-color-success:var(--sy-color-success-6);
    --sy-color-success-hover:var(--sy-color-success-5);
    --sy-color-success-active:var(--sy-color-success-7);
    --sy-color-success-select:var(--sy-color-success-1);

    --sy-color-warning:var(--sy-color-warning-6);
    --sy-color-warning-hover:var(--sy-color-warning-5);
    --sy-color-warning-active:var(--sy-color-warning-7);
    --sy-color-warning-select:var(--sy-color-warning-1);

    --sy-color-error:var(--sy-color-error-5);
    --sy-color-error-hover:var(--sy-color-error-4);
    --sy-color-error-active:var(--sy-color-error-7);
    --sy-color-error-select:var(--sy-color-error-1);

    --sy-color-base: #000000E0;
    --sy-color-text: #000000E0;
    --sy-color-text-secondary: #000000A6;
    --sy-color-text-disabled: #00000040;
    --sy-color-border: #D9D9D9;
    --sy-color-divider: #0505050F;
    --sy-color-bg: #F5F5F5;
}