.sy-avatar-wrapper {
    position: relative;
    display: inline-block;
}


.sy-avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, .05);
    color: var(--sy-avatar-color, #2c3e50);
    background-color: var(--sy-avatar-bgcolor, #f5f7f8);
    font-size: var(--sy-avatar-font-size, 16px);
    cursor: pointer;
    transition: all 0.25s ease;
    
    &:hover {
        filter: brightness(1.09);
    }

    &-circle {
        border-radius: 50%;
    }

    &-square {
        border-radius: 35%;
    }

    &-badge {
        position: absolute;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 1px solid #fff;
        font-size: 12px;
        display: inline-block;
        background-color: var(--sy-badge-color, #e74c3c);
        z-index: 2;

        &-text {
            min-width: 18px;
            height: 18px;
            padding: 0 6px;
            color: #fff;
            border-radius: 29px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 11px;
            line-height: 1;
        }

        &-bottom-right {
            right: 0;
            bottom: 0;
        }

        &-top-right {
            right: 0;
            top: 0;
        }

        &-top-left {
            left: 0;
            top: 0;
        }

        &-bottom-left {
            left: 0;
            bottom: 0;
        }
    }

    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
        transition: all 0.25s ease;

        &:hover {
            //图像放大
            transform: scale(1.1);
        }
    }
}
