@import "../../style/index.less";

.sy-card {
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid rgba(224, 228, 232, 0.7);
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, sans-serif;
}